#secBuivol{
    font-family:Arial;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.civlink:hover{
    color: darkblue;
}

.civlink{
    color: blue;
}
.liCiv{
    width: 1000px;
}
