
    /* Дополнительные стили aaaaa*/


#content {
    padding: 20px;
}

#content {
    background-color: White;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
