#dust {
    background-color: pink;
    color: rgb(14, 28, 48);
    font-family: sans-serif georgia;
}





#dast{
    color: green;
    li:
        list-style-type none;
    img:
        padding 10px;

}