#scarlet-nexus{
    background-color: #EEE2DE;
    color: #EEE2DE;
    border-radius: 20pt;
}
#scarlet-nexus h2{
    color: black;
}
#scarlet-nexus-name{
    font-family: cursive;
    color: black;
}
#scarlet-nexus-info{
    background-color: #EA906C;
}
.snimage{
    width: 45%;
    height: 15%;
    border-radius: 20pt;
}
#scarlet-nexus-gameplay{
    background-color: #B31312;
}
#scarlet-nexus-story{
    background-color: #2B2A4C;
}
#scarlet-nexus-url{
    background-color: #EA906C;
    color: blue;
}
#scarlet-nexus-kirjeldus{
    background-color: #B31312;
}
