#miljukova{
    background-color: #f5f1da;
}

section img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#informatsioon {
    background-color: rgb(240, 255, 255);
    border-left: 5px solid rgb(34, 85, 119);
}

#ajalugu {
    background-color: #fee9d7;
    border-left: 5px solid #f7b679;
}

#mangu_mangimine {
    background-color: #ecfffb;
    border-left: 5px solid #1e6262;
}

#lingiddd {
    background-color: #e8ffe8;
    border-left: 5px solid #78b0a0;
}

#lingiddd ul {
    list-style: none;
    padding: 0;
}

#lingiddd li {
    margin: 10px 0;
}

#lingiddd a {
    text-decoration: none;
    color: rgb(34, 85, 119);
}

#lingiddd a:hover {
    text-decoration: underline;
}
#arvu{
    background-color: #fff591;
    border-left: 5px solid #f3cf7a;
}
#viideo{
    background-color: #cabbe9;
    border-left: 5px solid #ba53de;

}
